<div *ngIf="started && !finished">
  <p>
    <progress-bar [value]="currentQuizIndex + 1"
                  [max]="quizzes?.length"></progress-bar>

    <a routerLink="/progress">View progress</a>
  </p>

  <quiz-detail [quiz]="currentQuiz"
               (complete)="goToNextQuiz($event)"></quiz-detail>
</div>

<div *ngIf="!started">
  <h2>Welcome!</h2>

  <p>
    Please complete all quizzes.
    There are {{ quizzes?.length }} quizzes in total.
    You'll need to complete each quiz in order to access the next quiz.
  </p>

  <p>
    Click the button below when you're ready to start the first quiz.
  </p>

  <button (click)="goToNextQuiz()"
          [disabled]="!quizzes?.length"
          class="btn">
    Continue...
  </button>
</div>

<div *ngIf="finished">
  <h2>Finished!</h2>

  <p>
    Congratulations on completing all of the quizzes.
  </p>

  <p>
    <a routerLink="/progress">View your results</a>
  </p>

  <button (click)="reset()" class="btn">
    Back to start
  </button>
</div>
