@import '../variables';

main {
  flex-grow: 1;
  order: 1;
  padding: $paddingBase;
  margin: 0 auto;
  max-width: 500px;
}

header {
  flex-grow: 0;
  order: 0;
  padding: $paddingBase;
  background: fade_out(white, 0.8);
  box-shadow: 0 0 3px fade_out(black, 0.8);

  h1 {
    font-size: 1.8em;
    margin: 0;

    small {
      font-size: 0.6em;
    }
  }
}

footer {
  flex-grow: 0;
  order: 2;
  padding: $paddingSm $paddingBase;
  background: fade_out(white, 0.8);
  box-shadow: 0 0 3px fade_out(black, 0.8);
}
